*{
  margin: 0 auto;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
} 
/* note the use of asterisk */

.container{
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-container {
  width: 400px;
  background-color: white;
  display: flex; /* Change from block to flex */
  flex-direction: column; 
  align-items: center; /* Horizontally center the items */
  justify-content: center; /* Vertically center the items */
  border-radius: 10px;
  padding: 20px; /* Add some padding to give space inside the container */
}

.smaller-container {
  text-align: center; /* Center the text inside the smaller-container */
  width: 100%; /* Ensure it takes full width of its parent */
  
}

.small-container > * {
  text-align: center; /* Center the text inside the smaller-container */
  width: 100%; /* Ensure it takes full width of its parent */
  display: flex; /* Use flexbox to arrange items */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  gap: 25px; /* Add space between elements */
}

